@import 'tailwindcss';

:root {
  --font-sans: "Creato Display", ui-sans-serif, system-ui, sans-serif;
}



@font-face {
  font-family: "Creato Display";
  src: url("./assets/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 
  font-family: "Creato Display Bold";
  src: url("./assets/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 700; 
  font-style: normal;
  font-display: swap; 

  font-family: "Creato Display Light";
  src: url("./assets/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@layer utilities {
  .animate-pulse-custom {
    animation: pulseCustom 1.8s ease-out infinite;
  }

  @keyframes pulseCustom {
    0% {
      transform: scale(1);
      opacity: 0.1;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}

